/* selecting everything! and getting rid of browser padding/margins */
*, *::after,*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html, body {
    color: blanchedalmond;
    background-image: linear-gradient(to right bottom, rgb(31, 10, 88), rgb(194, 177, 79));
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

html {
    box-sizing: border-box;
    font-size: 150%;
}

body {
    font-family: Gill Sans / Gill Sans MT, sans-serif;
    color: rgb(231, 228, 228);
    font-weight: 300;
    line-height: 1.6;
}

.container {
    width: 60%;
    margin: 2rem auto;
}

.weather {
    color: black;
}

/* Grid CSS Values */
.card_group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-gap: 1.5rem;
}

.gallery__img{
    width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    display: block;
}

/* .card-small {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
} */

#forcast-card {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}